.icon {
    width: 1.7vw;
    margin: 5px;

    &_settings {

    }

    &_dashboard {

    }

    &_feed {

    }

    &_faq {
        width: 1.8vw;
    }

    &_about{

    }

    &_arrow{

    }

    &_profile{

    }
}