$primary-color: #270F27;
$secondary-color: #fff;
$text-color: #f9dcdd;

$spacer: 5px;
$black: #000;
$white: #fff;
$logo-font: 'Good Times';

$text-size: 50px;

@media screen and (min-width: 500px) {
    $text-size: 30px;
}
