.navbar{
    line-height: 0px;
    padding: 0rem 0.3rem !important;
    margin-bottom: 8px;

    &-brand{
        font-size: 3.8vh !important;
        font-family: good times; 
    }
}

.bg{
    background-image: url("./vaporwave2.jpg");
    background-size: 100%;
    height: 8vh;
    background-position-y: 12vh;
}



.secondary_navbar {
    font-family: 'comic sans';
    
    &_item {
        display: inline;
    }

    &_icon {
        height: 30px;
    }
}

// .navbar{
//     background: $primary-color;

//     &__item {

//     }
// }